@import "base";

img {
  border: 1px solid #eceeef;
}

.progress {
  position: relative;
  overflow: visible;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0;

  .goal {
    position: absolute;
    height: 2.5rem;
    border-left: 1px dotted $danger;
    color: $danger;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 1;
  }

  .total {
    flex-grow: 1;
    text-align: right;
    padding-right: 0.5rem;
    background: transparent;
    color: $black;
  }

  @media(prefers-color-scheme: dark) {
    background: $black;

    .total {
      color: $white;
    }
  }
}

input[type="date"], input[type="number"] {
  border-radius: 0;
  border-color: #888;
}

.event.row {
  padding-left: 0;
  padding-right: 0;
}

.event h4 {
  margin: 1rem 0;
}

.details {
  padding: 0 1rem;
  margin: 0 -1rem 1rem;

  summary {
    background: $gray-300;
    padding: 0 1rem;
    margin: 0 -1rem;
  }

  &[open] {
    padding: 0 1rem;
    margin-left: calc(-1rem - 4px);
    border-left: 4px solid $gray-300;
  }
}

.grant-list {
  border-left: 4px solid $gray-500;
  margin-bottom: 2rem;

  ul {
    list-style: none;
    padding-left: 1rem;
  }

  label {
    font-weight: bold;

  }

  .form-control {
    display: inline;
    width: auto;
  }

  .invalid-feedback {
    margin-bottom: 0.5rem;
  }
}

.grant-list .form-control.is-invalid + label {
  color: $danger;
}

.oauth2-authorize h4 {
  margin-top: 2rem;
}

#card-element {
  background: white !important;
}

.invoice h4 {
  margin-top: 0;
}
