#
# meta.sr.ht config

[server]
#
# Specifies the protocol (usually http or https) meta.sr.ht runs with.
protocol=http
#
# Specifies the domain name meta.sr.ht is running on.
domain=localhost:5000
#
# A secret key to encrypt session cookies with.
secret-key=CHANGEME

[debug]
#
# Address and port to bind the debug server to.
debug-host=0.0.0.0
debug-port=5000

[sr.ht]
#
# Configures the SQLAlchemy connection string for the database.
connection-string=postgresql://postgres@localhost/sr.ht
#
# The name of your network of sr.ht-based sites
site-name=sr.ht

[network]
#
# Location of other sites in your network
#
# This isn't a hardcoded list, add or remove entries as you like. The upstream
# sites do know about each other and will omit integrations if you leave out
# the relevant site. Only meta is required.
meta=http://meta.sr.ht.local
git=http://git.sr.ht.local

[mail]
#
# SMTP settings to send emails through
smtp-host=
smtp-port=
smtp-user=
smtp-password=
#
# Application exceptions are emailed to this address
error-to=
error-from=
#
# Your PGP key information (DO NOT mix up pub and priv here)
# You must remove the password from your secret key, if present.
# You can do this with gpg --edit-key [key-id], then use the passwd
# command and do not enter a new password.
pgp-privkey=
pgp-pubkey=
pgp-key-id=

[meta.sr.ht]
#
# The following sections are settings you can customize to make your sr.ht
# instance unique.
#
# Contact information for the site owners:
owner-name=CHANGEME
owner-email=change@me.com
#
# The source code for your fork of sr.ht:
source-url=https://git.sr.ht/~sircmpwn/srht
# 
# If "no", public registration will not be permitted.
registration=yes
#
# Where to redirect new users upon registration
onboarding-redirect=/
#
# How many invites each user is issued upon registration (only applicable if
# open registration is disabled)
user-invites=5

[oauth-aliases]
#
# You can add aliases for the client IDs of commonly used OAuth clients here.
#
# Example:
# git.sr.ht=12345
