#
# meta.sr.ht config

[server]
#
# Specifies the protocol (usually http or https) meta.sr.ht runs with.
protocol=http
#
# Specifies the domain name meta.sr.ht is running on.
domain=localhost:5000
#
# A secret key to encrypt session cookies with.
secret-key=CHANGEME

[debug]
#
# Address and port to bind the debug server to.
debug-host=0.0.0.0
debug-port=5000

[sr.ht]
#
# Configures the SQLAlchemy connection string for the database.
connection-string=postgresql://postgres@localhost/sr.ht
#
# The name of your network of sr.ht-based sites
site-name=sr.ht

[network]
#
# Location of other sites in your network
#
# This isn't a hardcoded list, add or remove entries as you like. The upstream
# sites do know about each other and will omit integrations if you leave out
# the relevant site. Only meta is required.
meta=http://localhost:5000
git=http://localhost:5001
files=http://localhost:5002
bugs=http://localhost:5003
lists=http://localhost:5004
ftp=http://localhost:5005
man=http://localhost:5006

[mail]
#
# SMTP settings to send emails through
smtp-host=CHANGEME
smtp-port=CHANGEME
smtp-user=CHANGEME
smtp-password=CHANGEME
#
# Application exceptions are emailed to this address
error-to=CHANGEME
error-from=CHANGEME

[stripe]
#
# If you are accepting payment for paid features, fill this out.
stripe-secret=CHANGEME
stripe-publish=CHANGEME

[meta.sr.ht]
#
# The following sections are settings you can customize to make your sr.ht
# instance unique.
#
# Contact information for the site owners:
owner-name=CHANGEME
owner-email=CHANGEME
#
# Name of your website:
site-name=sr.ht
#
# The source code for your fork of sr.ht:
source-url=https://git.sr.ht/sircmpwn/sr.ht
#
# If "yes", payment will be required for account creation.
require-payment=yes
#
# Your PGP key information (DO NOT mix up pub and priv here)
# You must remove the password from your secret key, if present.
# You can do this with gpg --edit-key [key-id], then use the passwd
# command and do not enter a new password.
pgp-privkey=CHANGEME
pgp-pubkey=CHANGEME
pgp-key-id=CHANGEME

[pricing]
#
# Price in cents to buy an account
price-account=1000
#
# How often to charge:
# once, monthly, yearly
price-frequency=yearly
