{% extends "client-admin.html" %}
{% block content %}
<p>
  If you're using meta.sr.ht to authorize sr.ht users for your API, you can
  configure the OAuth scopes meta.sr.ht will authorize on your behalf here.
</p>
<section class="row">
  <div class="col-md-6">
    {% if len(client.scopes) > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>description</th>
          <th>writable?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for scope in client.scopes %}
        <tr>
          <td>{{ scope.name }}</td>
          <td>{{ scope.description }}</td>
          <td>
            <label class="checkbox">
              <input type="checkbox" readonly {{ "checked" if scope.write else "" }} />
              {{ "yes" if scope.write else "no" }}
            </label>
          </td>
          <td style="width: 6rem">
            <form
              method="POST"
              action="/oauth/client/{{ client.client_id }}/scopes/{{ scope.name }}"
              style="margin: 0;"
            >
              <button type="submit" class="btn btn-default btn-fill">delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <h3>New OAuth scope</h3>
    <form method="POST">
      <div class="form-group">
        <label for="scope_name">Name <span class="text-danger">*</span></label>
        <input
          type="text"
          name="scope_name"
          id="scope_name"
          class="form-control {{valid.cls("scope_name")}}"
          value="{{ scope_name or "" }}" />
        {{valid.summary("scope_name")}}
      </div>
      <div class="form-group">
        <label for="scope_desc">Description <span class="text-danger">*</span></label>
        <p class="text-muted">
          "<strong>example</strong> would like
          <strong>read</strong> access to your
          <strong id="desc-text">[description]</strong>
          on <strong>{{ client.client_name }}</strong>"
        </p>
        <input
          type="text"
          name="scope_desc"
          id="scope_desc"
          class="form-control {{valid.cls("scope_desc")}}"
          value="{{ scope_desc or "" }}" />
        {{valid.summary("scope_desc")}}
      </div>
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" name="writable" />
          Supports "write" access
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</section>
<script>
document.getElementById("scope_desc").addEventListener("keyup", function(e) {
  document.getElementById("desc-text").textContent = e.target.value || "[description]";
});
</script>
{% endblock %}
