{% extends "meta.html" %}
{% block title %}
<title>Invite generated - {{cfg("sr.ht", "site-name")}} meta</title>
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-6">
    <p>
      This is a one-time use link that can be used to create an account on this
      site.
    </p>
    <blockquote class="text-centered">
      <strong>
        <a href="{{ link }}">{{ link }}</a>
      </strong>
    </blockquote>
    <a href="/invites" class="btn btn-default">
      Continue {{icon("caret-right")}}
    </a>
  </section>
</div>
{% endblock %}
