{% extends "meta.html" %}
{% block content %}
<div class="row">
  <section class="col-md-12">
    <h3>SSH Keys</h3>
    {% if any(current_user.ssh_keys) %}
    <p>The following SSH keys are associated with your account:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Fingerprint</th>
          <th>Authorized</th>
          <th>Last Used</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for key in current_user.ssh_keys %}
        <tr>
          <td>{{key.comment}}</td>
          <td>{{key.fingerprint}}</td>
          <td>{{key.created|date}}</td>
          <td>{{key.last_used|date}}</td>
          <td style="width: 6rem">
            <form method="POST" action="/keys/delete-ssh/{{key.id}}">
              <button type="submit" class="btn btn-danger btn-fill">
                Delete
              </a>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>
  <form class="col-md-6" method="POST" action="/keys/ssh-keys">
    <div class="form-group">
      <label for="ssh-key">Add SSH Key</label>
      <textarea
        class="form-control {{valid.cls("ssh-key")}}"
        id="ssh-key"
        name="ssh-key"
        rows="2">{{ssh_key or ""}}</textarea>
      {{valid.summary("ssh-key")}}
    </div>
    <button type="submit" class="btn btn-primary pull-right">
      Add key
      <i class="fa fa-caret-right"></i>
    </button>
  </form>
  <section class="col-md-12">
    <h3>PGP Keys</h3>
    {% if any(current_user.pgp_keys) %}
    <p>The following PGP keys are associated with your account:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Key ID</th>
          <th>Authorized</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for key in current_user.pgp_keys %}
        <tr>
          <td>{{key.email}}</td>
          <td>{{key.key_id}}</td>
          <td>{{key.created|date}}</td>
          <td style="width: 6rem">
            <form method="POST" action="/keys/delete-pgp/{{key.id}}">
              <button type="submit" class="btn btn-danger btn-fill">Delete</a>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>
  <form class="col-md-6" method="POST" action="/keys/pgp-keys">
    <div class="form-group">
      <label for="pgp-key">Add PGP Key</label>
      <textarea
        class="form-control {{valid.cls("pgp-key")}}"
        id="pgp-key"
        name="pgp-key"
        style="font-family: monospace"
        rows="5">{{pgp_key or ""}}</textarea>
      {{valid.summary("pgp-key")}}
    </div>
    <button type="submit" class="btn btn-primary pull-right">
      Add key
      <i class="fa fa-caret-right"></i>
    </button>
  </form>
</div>
{% endblock %}
