{% extends "layout.html" %}
{% block head %}
<meta name="description" content="Account management hub for sr.ht services" />
{% endblock %}
{% block body %} 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% block blurb %}
      <section>
        <p>You can manage your sr.ht account here.</p>
      </section>
      {% endblock %}
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  {% block tabs %}
  {% include "tabs.html" %}
  {% endblock %}
</ul>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}
