{% extends "layout.html" %}
{% block head %}
<meta name="description" content="Account management hub for {{cfg("sr.ht", "site-name")}} services" />
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% block blurb %}
      <section>
        <p>You can manage your {{cfg("sr.ht", "site-name")}} account here.</p>
      </section>
      {% endblock %}
    </div>
  </div>
</div>
<div class="header-tabbed">
  <div class="container">
    <ul class="nav nav-tabs">
      {% block tabs %}
      {% include "tabs.html" %}
      {% endblock %}
    </ul>
  </div>
</div>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}
