{% extends "meta.html" %}
{% block title %}
<title>Authorized applications - {{cfg("sr.ht", "site-name")}} meta</title>
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-12">
    <h3>Authorized Clients</h3>
    {% if any(client_authorizations) %}
    <p>The following third party clients have access to your account:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>First Authorized</th>
          <th>Last Used</th>
          <th>Expires</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for token in client_authorizations %}
        <tr>
          <td>{{ token.client.client_name }}</td>
          <td>{{ token.client.user.username }}</td>
          <td>{{ token.created | date }}</td>
          <td>{{ token.updated | date }}</td>
          <td>{{ token.expires | date }}</td>
          <td style="width: 6rem">
            <a
              href="/oauth/revoke-token/{{ token.id }}"
              class="btn btn-danger btn-fill"
            >Revoke</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have not granted any third party clients access to your account.</p>
    {% endif %}
  </section>
  <section class="col-md-12">
    <h3>Registered Clients</h3>
    {% if any(current_user.oauth_clients) %}
    <p>You have registered the following OAuth clients:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Client ID</th>
          <th>Active users</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for client in current_user.oauth_clients %}
        <tr>
          <td>{{ client.client_name }}</td>
          <td>{{ client.client_id }}</td>
          <td>{{ client_tokens(client) }}</td>
          <td style="width: 6rem">
            <a
              href="/oauth/client/{{client.client_id}}/settings"
              class="btn btn-default btn-fill"
            >Manage</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have not registered any OAuth clients yet.</p>
    {% endif %}
    <a class="btn btn-primary" href="/oauth/register">
      Register new client {{icon("caret-right")}}
    </a>
  </section>
  <section class="col-md-12">
    <h3>Personal Access Tokens</h3>
    {% if any(personal_tokens) %}
    <p>You have obtained the following personal access tokens:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Access token</th>
          <th>Date issued</th>
          <th>Last Used</th>
          <th>Expires</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for token in personal_tokens %}
        <tr>
          <td>{{ token.token_partial }}...</td>
          <td>{{ token.created | date }}</td>
          <td>{{ token.updated | date }}</td>
          <td>{{ token.expires | date }}</td>
          <td style="width: 6rem">
            <a
              href="/oauth/revoke-token/{{ token.id }}"
              class="btn btn-danger btn-fill"
            >Revoke</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have not created any personal access tokens.</p>
    {% endif %}
    <a class="btn btn-primary" href="/oauth/personal-token">
      Generate new token {{icon("caret-right")}}
    </a>
  </section>
</div>
{% endblock %}
