{% extends "meta.html" %}
{% block title %}
<title>OAuth client registered - meta.sr.ht</title>
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-6">
    {% if client_event == "registered" %}
    <h3>OAuth client registered</h3>
    <p>Your OAuth client has been successfully registered. Write down this information:</p>
    {% elif client_event == "reset-secret" %}
    <h3>OAuth secret reset</h3>
    <p>Your OAuth client secret been successfully reset. Write down the new one:</p>
    {% endif %}
    <dl>
      <dt>Client ID</dt>
      <dd>{{client_id}}</dd>
      <dt>Client Secret</dt>
      <dd>{{client_secret}}</dt>
    </dl>
    <p>
      Your client secret <strong>will never be shown to you again</strong>, though you can
      reset it later if necessary. As the name implies, you should keep it secret.
    </p>
    <a href="/oauth" class="btn btn-default">Continue</a>
  </section>
</div>
{% endblock %}
