{% extends "meta.html" %}
{% block title %}
<title>Privacy settings - meta.sr.ht</title>
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-8">
    <h3>Encryption</h3>
    <p>
      All emails sent from sr.ht to you are signed with<br />
      <a href="/privacy/pubkey">{{cfg("mail", "pgp-key-id")}}</a>.
    </p>
    {% if any(current_user.pgp_keys) %}
    <form method="POST" action="/privacy">
      {{csrf_token()}}
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="pgp-key"
            value="null"
            {%if current_user.pgp_key_id == None%}checked{%endif%}
          /> Do not encrypt emails sent to me
        </label>
      </div>
      {% for key in current_user.pgp_keys %}
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="pgp-key"
            value="{{key.id}}"
            {%if current_user.pgp_key_id == key.id%}checked{%endif%}
          /> Encrypt with {{key.email}} {{key.key_id}}
        </label>
      </div>
      {% endfor %}
      <button type="submit" class="pull-right btn btn-primary">
        Save {{icon("caret-right")}}
      </button>
    </form>
    <form method="POST" action="/privacy/test-email" style="clear: both; padding-top: 0.5rem">
      {{csrf_token()}}
      <button type="submit" class="pull-right btn btn-default">
        Send test email {{icon("arrow-right")}}
      </button>
    </form>
    {% else %}
    <p>If you <a href="/keys">add a PGP key</a> to your account, we can encrypt
    emails to you.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
