{% extends "meta.html" %}
{% block title %}
<title>Profile - meta.sr.ht</title>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h3>User Profile</h3>
    <form method="POST" action="/profile">
      {{csrf_token()}}
      <div class="form-group">
        <label for="username">
          Username <span class="text-muted">(you can't edit this)</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="username"
          value="{{current_user.username}}"
          readonly />
      </div>
      <div class="form-group">
        <label for="email">Email address <span class="text-danger">*</span></label>
        <input
          type="email"
          class="form-control {{valid.cls("email")}}"
          id="email"
          name="email"
          value="{{email or current_user.email}}" />
        {% if new_email %}
        <div class="alert alert-info">
            An email has been sent to {{current_user.new_email}} to
            confirm this change.
        </div>
        {% endif %}
        {{valid.summary("email")}}
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input
          type="text"
          class="form-control {{valid.cls("url")}}"
          id="url"
          name="url"
          value="{{url or current_user.url or ""}}" />
        {{valid.summary("url")}}
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          type="text"
          class="form-control {{valid.cls("location")}}"
          id="location"
          name="location"
          value="{{location or current_user.location or ""}}" />
        {{valid.summary("location")}}
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea
          class="form-control {{valid.cls("bio")}}"
          id="bio"
          name="bio"
          rows="5">{{bio or current_user.bio or ""}}</textarea>
        {{valid.summary("bio")}}
      </div>
      <button type="submit" class="btn btn-primary pull-right">
        Save {{icon("caret-right")}}
      </button>
    </form>
  </div>
</div>
{% endblock %}
