{% extends "layout.html" %}
{% block title %}
<title>Register for {{cfg("sr.ht", "site-name")}}</title>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h3>
      Register for {{cfg("sr.ht", "site-name")}}
      <small>
        or <a href="/login">log in</a>
      </small>
    </h3>
  </div>
</div>
{% if is_external_auth() %}
<p>Registration is disabled because sr.ht authentication is managed by a
  different service. Please contact the system administrator for further
  information.</p>
{% elif allow_registration() or invite_hash %}
<div class="row">
  <div class="col-md-12">
    {% include "blurb.html" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form method="POST" action="/register">
      {% if invite_hash %}
      <input type="hidden" name="invite_hash" value="{{invite_hash}}" />
      <div class="alert alert-info">
        You have received a special invitation to join {{cfg("sr.ht",
        "site-name")}}. Sign up here!
      </div>
      {% endif %}
      <div class="form-group">
        <label for="username">Username</label>
        <input
           type="text"
           name="username"
           id="username"
           value="{{ username }}"
           class="form-control {{valid.cls("username")}}"
           required
           autocomplete="username"
           {% if not username %} autofocus{% endif %} />
        {{valid.summary("username")}}
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
           type="email"
           name="email"
           id="email"
           value="{{ email }}"
           class="form-control {{valid.cls("email")}}"
           required
           {% if username and not email %} autofocus{% endif %} />
        {{valid.summary("email")}}
        {% if email and "+" in email %}
        <input type="hidden" name="allow-plus-in-email" value="yes" />
        <div class="alert alert-danger">
          <strong>Warning</strong>: in order to use {{cfg("sr.ht",
          "site-name")}} effectively, you must be able to both send <em>and</em>
          receive emails from this email address. To continue, submit the form
          again.
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
           type="password"
           name="password"
           id="password"
           value="{{ password }}"
           class="form-control {{valid.cls("password")}}"
           required
           autocomplete="new-password"
           {% if username and email and not password %} autofocus{% endif %} />
        {{valid.summary("password")}}
      </div>
      {% if site_key %}
      <div class="form-group">
        <details open>
          <summary><label for="pgp-key">PGP public key (optional)</label></summary>
          <textarea
            class="form-control {{valid.cls("pgp-key")}}"
            id="pgp-key"
            name="pgp-key"
            style="font-family: monospace"
            rows="5"
            placeholder="gpg --armor --export-options export-minimal --export fingerprint…"
          >{{pgp_key or ""}}</textarea>
          <small class="form-text text-muted">
            Emails sent from {{cfg("sr.ht", "site-name")}} are
            signed with our PGP key:<br />
            <a href="/privacy/pubkey">{{site_key}}</a>
            <br />
            If you add your PGP key here, we will also encrypt emails sent to
            you. You may change this in your settings later, but you enable it
            now you must be able to decrypt the confirmation email to complete
            registration.
          </small>
          {{valid.summary("pgp-key")}}
        </details>
      </div>
      {% endif %}
      <button class="btn btn-primary pull-right" type="submit">
        Register {{icon("caret-right")}}
      </button>
      <p class="clearfix"></p>
    </form>
  </div>
  <div class="col-md-8 offset-md-2">
    <div class="alert alert-warning">
      <strong>Privacy notice</strong>:
      {{cfg("sr.ht", "site-name")}} collects the minimum amount of your personal
      information which is necessary to faciliate the features of our services.
      We do not collect or process any of your personal information for the
      purposes of marketing or analytics. For details, please review our
      <a
        href="{{cfg("sr.ht", "privacy-policy", default="https://man.sr.ht/privacy.md")}}"
        rel="noopener"
        target="_blank"
      >privacy policy</a>.
    </div>
  </div>
</div>
{% else %}
<p>Registration is currently closed.</p>
{% endif %}
{% endblock %}
