{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h3>
      Reset password
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form method="POST">
      <div class="form-group">
        <label for="password">New password</label>
        <input
           type="password"
           name="password"
           id="password"
           class="form-control {{valid.cls("password")}}" />
        {{valid.summary("password")}}
      </div>
      {{valid.summary()}}
      <button class="btn btn-default pull-right" type="submit">
        Reset password
      </button>
    </form>
  </div>
</div>
{% endblock %}
