{% extends "meta.html" %}
{% block title %}
<title>Security settings - meta.sr.ht</title>
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-12">
    <h3>Two-factor auth</h3>
    <h4>TOTP</h4>
    {% if totp %}
    <p>
      <strong>Enabled</strong> on your account since {{totp.created | date}}.
    </p>
    <p>
      <form method="POST" action="/security/totp/disable">
        {{csrf_token()}}
        <button class="btn btn-warning" type="submit">
          Disable TOTP
          {{icon('caret-right')}}
        </button>
      </form>
    </p>
    {% else %}
    <p>
      <strong>Disabled</strong> on your account. Enable this and we'll prompt
      you for a TOTP code each time you log in.
    </p>
    <p>
      <a href="/security/totp/enable">
        <button class="btn btn-primary" type="submit">
          Enable TOTP
          {{icon('caret-right')}}
        </button>
      </a>
    </p>
    {% endif %}
  </section>
  <section class="col-md-12">
    <h3>Reset your password</h3>
    {% if not is_external_auth() %}
    <form method="POST" action="/forgot">
      {{csrf_token()}}
      <input type="hidden" name="email" value="{{current_user.email}}" />
      <button class="btn btn-default" type="submit">
        Send reset link
        {{icon('caret-right')}}
      </button>
    </form>
    {% else %}
    Password reset is disabled because sr.ht authentication is managed by a
    different service.
    {% endif %}
  </section>
  <section class="col-md-12">
    <h3>Audit Log</h3>
    <table class="table">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Action</th>
          <th>Details</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for log in audit_log %}
        <tr>
          <td>{{log.ip_address}}</td>
          <td>{{log.event_type}}</td>
          <td>{{log.details or ""}}</td>
          <td>{{log.created|date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/security/audit/log" class="btn btn-default pull-right">
      View full audit log {{icon("caret-right")}}
    </a>
  </section>
</div>
{% endblock %}
