{% extends "meta.html" %}
{% block title %}
<title>~{{user.username}} - meta.sr.ht</title>
{% endblock %}
{% block content %}
<h3>~{{user.username}}</h3>
<div class="row">
  <section class="col-md-8">
    <dl class="row">
      <dt class="col-md-3">Email</dt>
      <dd class="col-md-9">
        <a href="mailto:{{user.email}}">{{user.email}}</a>
      </dd>
      <dt class="col-md-3">Registered</dt>
      <dd class="col-md-9">{{user.created | date}}</dd>
      <dt class="col-md-3">User type</dt>
      <dd class="col-md-9">{{user.user_type.value}}</dd>
      <dt class="col-md-3">Welcome emails</dt>
      <dd class="col-md-9">{{user.welcome_emails}}</dd>
      {% if cfg("meta.sr.ht::billing", "enabled") == "yes"
        and user.stripe_customer %}
      <dt class="col-md-3">Stripe customer</dt>
      <dd class="col-md-9">
        <a href="https://dashboard.stripe.com/customers/{{user.stripe_customer}}">
          {{user.stripe_customer}}
        </a>
      </dd>
      <dt class="col-md-3">Payment amount</dt>
      <dd class="col-md-9">
        ${{"{:.2f}".format(user.payment_cents / 100)}}
      </dd>
      <dt class="col-md-3">Payment interval</dt>
      <dd class="col-md-9">
        {{user.payment_interval.value}}
      </dd>
      <dt class="col-md-3">Payment due</dt>
      <dd class="col-md-9">{{user.payment_due | date}}</dd>
      {% endif %}
    </dl>
    {% if reset_pending %}
    <div class="alert alert-warning">
      Password reset pending.
    </div>
    {% endif %}
    <form
      method="POST"
      action="{{url_for("users.set_user_type", username=user.username)}}"
      class="alert alert-info"
    >
      {{csrf_token()}}
      <button
        type="submit"
        class="btn btn-primary btn-sm pull-right"
      >
        Update
      </button>
      <select
        name="user_type"
        class="form-control"
        style="display: inline; width: inherit"
      >
        {% for type in [
          "unconfirmed", "active_non_paying", "active_free", "active_paying",
          "active_delinquent", "admin" ] %}
          <option
            value="{{type}}"
            {% if user.user_type.value == type %}
            selected
            {% endif %}
          >{{type}}</option>
        {% endfor %}
        {% if user.user_type.value == "suspended" %}
          {# You can remove this here, but not set it #}
          <option value="suspended" selected>suspended</option>
        {% endif %}
      </select>
    </form>
    {% if user.confirmation_hash %}
    <div class="alert alert-warning">
      <a
        href="{{url_for("auth.confirm_account", token=user.confirmation_hash)}}"
        class="btn btn-link pull-right"
      >confirmation link</a>
      This account is pending confirmation.
    </div>
    {% endif %}
    {% if totp %}
    <form
      method="POST"
      action="{{url_for("users.user_disable_totp", username=user.username)}}"
      class="alert alert-warning"
    >
      {{csrf_token()}}
      <button type="submit" class="btn btn-link pull-right">
        Disable TOTP
      </button>
      This account has TOTP enabled.
    </form>
    {% endif %}
  </section>
</div>
<div class="row">
  <form
    class="col-md-8"
      method="POST"
      action="{{url_for("users.user_suspend", username=user.username)}}"
    >
      <h3>Suspend account</h3>
      {{csrf_token()}}
      <div class="form-group">
        <input
          type="text"
          placeholder="Suspension reason (shown to user)"
          class="form-control"
          name="reason" />
      </div>
      <button type="submit" class="btn btn-danger pull-right">
        Suspend user
        {{icon('caret-right')}}
      </button>
  </form>
</div>
<div class="row">
  <form
    class="col-md-8"
    action="{{url_for('.user_add_note', username=user.username)}}"
    method="POST"
  >
    <h3>User notes</h3>
    <div class="event-list">
      {% for note in user.notes %}
      <div class="event">
        {{note.note}}
        <span class="text-muted">{{note.created | date}}</span>
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
      <textarea
        id="notes"
        name="notes"
        class="form-control {{valid.cls('notes')}}"
        rows="5"
      >{{notes if notes else ""}}</textarea>
      {{valid.summary('notes')}}
    </div>
    {{csrf_token()}}
    <button type="submit" class="btn btn-primary pull-right">
      Add note
      {{icon('caret-right')}}
    </button>
  </form>
</div>
{% endblock %}
