{% extends "meta.html" %}
{% block content %}
<div class="row">
  <section class="col-md-10">
    <div class="alert alert-info">
      <strong>Notice:</strong>
      You have a free account because you were a user prior to 2016-10-14.
    </div>
    <div class="alert alert-danger">
      <strong>Notice:</strong>
      The last 2 attempts to charge 
      <i class="fa fa-credit-card"></i> **** **** **** 4321
      failed. Your account will be suspended on the third failure.
    </div>
  </section>
  <section class="col-md-10">
    <h3>Billing Information</h3>
    <dl>
      <dt>Balance</dt>
      <dd>$-20</dd>
      <dt>Payment method</dt>
      <dd>
        <i class="fa fa-credit-card"></i> **** **** **** 4321
        <a href="/billing/edit">Edit</a>
      </dd>
      <dt>Billing Address</dt>
      <dd>
        123 Main Street<br />
        United States, NJ, 08205
        <a href="/billing/edit">Edit</a>
      </dd>
    </dl>
  </section>
  <section class="col-md-10">
    <h3>Billing History</h3>
    <table>
      <thead>
        <tr>
          <th style="width: 32px"></th>
          <th>Date</th>
          <th>Amount</th>
          <th>Payment method</th>
        </tr>
      </thead>
      <tbody>
        <tr class="danger">
          <td><i class="fa fa-times text-danger"></i></td>
          <td>2016-10-15</td>
          <td>$20.00</td>
          <td><i class="fa fa-credit-card"></i> **** **** **** 4321</td>
        </tr>
        <tr class="danger">
          <td><i class="fa fa-times text-danger"></i></td>
          <td>2016-10-14</td>
          <td>$20.00</td>
          <td><i class="fa fa-credit-card"></i> **** **** **** 4321</td>
        </tr>
        <tr>
          <td><i class="fa fa-check text-success"></i></td>
          <td>2015-10-14</td>
          <td>$20.00</td>
          <td><i class="fa fa-credit-card"></i> **** **** **** 4321</td>
        </tr>
        <tr>
          <td><i class="fa fa-check text-success"></i></td>
          <td>2014-10-14</td>
          <td>$20.00</td>
          <td><i class="fa fa-credit-card"></i> **** **** **** 4321</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
