{% extends "meta.html" %}
{% block content %}
<div class="row">
  <section class="col-md-12">
    <h3>SSH Keys</h3>
    {% if any(current_user.ssh_keys) %}
    <p>The following SSH keys are associated with your account:</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Fingerprint</th>
          <th>Authorized</th>
          <th>Last Used</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for key in current_user.ssh_keys %}
        <tr>
          <td>{{key.comment}}</td>
          <td>{{key.fingerprint}}</td>
          <td>{{datef(key.created)}}</td>
          <td>{{datef(key.last_used)}}</td>
          <td><a href="/keys/delete-ssh/{{key.id}}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>
  <form class="col-md-6" method="POST" action="/keys/ssh-keys">
    <div class="form-group {{valid.cls("ssh-key")}}">
      <label for="ssh-key">Add SSH Key</label>
      <textarea
        class="form-control"
        id="ssh-key"
        name="ssh-key"
        rows="2">{{ssh_key or ""}}</textarea>
      {{valid.summary("ssh-key")}}
    </div>
    <button type="submit" class="btn btn-default pull-right">Add key</button>
  </form>
  <section class="col-md-12">
    <h3>PGP Keys</h3>
    <p>The following PGP keys are associated with your account:</p>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Key ID</th>
          <th>Authorized</th>
          <th>Last Used</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>sir@cmpwn.com</td>
          <td>83A944D9F4EA1B88</td>
          <td>2016-10-14 01:23:48 UTC</td>
          <td>2016-10-14 01:23:48 UTC</td>
          <td><a href="/git/delete-key/:id">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </section>
  <form class="col-md-6">
    <div class="form-group">
      <label for="pgp-key">New PGP Key</label>
      <textarea
        class="form-control"
        id="pgp-key"
        name="pgp-key"
        rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-default pull-right">Add key</button>
  </form>
</div>
{% endblock %}
