{% extends "layout.html" %}
{% block content %}
<div class="row">
  <section class="col-md-6">
    <h3>Authorize account access</h3>
    <p>
      <strong>{{client.client_name}}</strong> would like access to your sr.ht
      account. <strong>{{client.client_name}}</strong> is a third-party
      application operated by <strong>{{client.user.username}}</strong>. You
      may revoke this access at any time. They would like permission to access
      the following resources on your account:
    </p>
    <ul>
    {% for scope in scopes %}
    <li>
      {% if not scope.client %}
      <input type="checkbox" name="{{scope}}" checked />
      <strong>{{scope.access}}</strong> access to your
      <strong>{{scope.friendly()}}</strong>
      {% else %}
      <input type="checkbox" name="{{scope}}" checked />
      <strong>{{scope.access}}</strong> access to your
      <strong>{{scope.friendly()}}</strong> on your
      <strong>{{scope.client.client_name}}</strong> account
      {% endif %}
    </li>
    {% endfor %}
    </ul>
    <p>
      By unchecking the relevant permissions, you may change how much access
      <strong>{{client.client_name}}</strong> will have. However, note that
      this may cause undesirable behavior in the third-party application.
    </p>
    <button
      type="submit"
      name="agree"
      class="btn btn-danger"
    >Proceed and grant access</button>
    <a
      href="/oauth"
      class="btn btn-default"
    >Cancel and do not grant access</a>
  </section>
</div>
{% endblock %}
