{% extends "layout.html" %}
{% block content %}
<form class="row" method="POST" action="/oauth/authorize">
  <section class="col-md-6">
    <h3>Authorize account access</h3>
    <p>
      <strong>{{client.client_name}}</strong> would like access to your sr.ht
      account. <strong>{{client.client_name}}</strong> is a third-party
      application operated by <strong>{{client.user.username}}</strong>. You
      may revoke this access at any time. They would like permission to access
      the following resources on your account:
    </p>
    {% macro render_access(scope) %}
      {% if scope.access == 'read' %}
      <input type="checkbox" name="{{scope}}" checked />
      <strong>read</strong>
      {% elif scope.access == 'write' %}
      <input type="checkbox" name="{{scope}}" checked />
      <strong>read</strong> and <strong>write</strong>
      {% endif %}
    {% endmacro %}
    <ul>
    {% for scope in scopes %}
    <li>
      {% if not scope.client %}
      {{render_access(scope)}} access to your
      <strong>{{scope.friendly()}}</strong>
      {% else %}
      {{render_access(scope)}} access to your
      <strong>{{scope.friendly()}}</strong> on your
      <strong>{{scope.client.client_name}}</strong> account
      {% endif %}
    </li>
    {% endfor %}
    </ul>
    <p>
      By unchecking the relevant permissions, you may change how much access
      <strong>{{client.client_name}}</strong> will have. However, note that
      this may cause undesirable behavior in the third-party application.
    </p>
    <input type="hidden" name="client_id" value="{{ client.client_id }}" />
    {% if redirect_uri %}
    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
    {% endif %}
    {% if state %}
    <input type="hidden" name="state" value="{{ state }}" />
    {% endif %}
    <button
      type="submit"
      name="accept"
      class="btn btn-danger"
    >Proceed and grant access</button>
    <button
      type="submit"
      name="reject"
      class="btn btn-default"
    >Cancel and do not grant access</button>
  </section>
</form>
{% endblock %}
