{% extends "meta.html" %}
{% block content %}
<div class="row">
  <section class="col-md-12">
    <h3>Two-factor auth</h3>
    <h4>TOTP</h4>
    {% if totp %}
    <p>
      <strong>Enabled</strong> on your account since {{datef(totp.created)}}.
    </p>
    <p>
      <form method="POST" action="/security/totp/disable">
        <button class="btn btn-default" type="submit">Disable TOTP</button>
      </form>
    </p>
    {% else %}
    <p>
      <strong>Disabled</strong> on your account. Enable this and we'll prompt
      you for a TOTP code each time you log in.
    </p>
    <p>
      <a href="/security/totp/enable">
        <button class="btn btn-default" type="submit">Enable TOTP</button>
      </a>
    </p>
    {% endif %}
    {# TODO
    <h4>U2F</h4>
    <p>
      <strong>Disabled</strong> on your account. Enable this and we'll authenticate
      you with your physical U2F key each time you log in.
    </p>
    <p><a class="btn btn-default" href="/security/u2f/enable">Enable U2F</a></p>
    #}
    <h4>Email</h4>
    <p>
      <strong>Disabled</strong> on your account. Enable this and we'll send you an
      email with a one-time link each time you log in.
    </p>
    <p>
      <form method="POST" action="/security/email/enable">
        <button class="btn btn-default" type="submit">Enable email auth</button>
      </form>
    </p>
  </section>
  <section class="col-md-12">
    <h3>Audit Log</h3>
    {% if not current_user.enable_audit_log %}
    <p>
      <form method="POST" action="/security/audit/enable">
        <button class="btn btn-default" type="submit">Enable audit log</button>
      </form>
    </p>
    {% else %}
    <p>
      <form method="POST" action="/security/audit/disable">
        <button class="btn btn-default" type="submit">Disable audit log</button>
      </form>
    </p>
    <table>
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Action</th>
          <th>Details</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for log in audit_log %}
        <tr>
          <td>{{log.ip_address}}</td>
          <td>{{log.event_type.value}}</td>
          <td>{{log.details or ""}}</td>
          <td>{{datef(log.created)}}</td>
          <td style="text-align: center">
            <form method="POST" action="/security/audit/forget/{{log.id}}">
              <button type="submit" class="btn btn-link">Forget</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/security/audit/log">
      View full audit log <i class="fa fa-caret-right"></i>
    </a>
    {% endif %}
  </section>
</div>
{% endblock %}
