{% extends "meta.html" %}
{% block content %}
<div class="row">
  <section class="col-md-6">
    <h3>Enable TOTP authentication</h3>
    <p>
    Scan this QR code with an app like
      <a
        href="https://f-droid.org/repository/browse/?fdfilter=freeotp&fdid=org.fedorahosted.freeotp"
        target="_blank">
        FreeOTP
      </a>
    and enter the generated TOTP code to enable TOTP on your account.
    </p>
    <div class="col-md-12 text-centered">
      <img src="{{qrcode}}" alt="{secret}" />
    </div>
    <form method="POST" action="/security/totp/enable">
      <input type="hidden" name="secret" value="{{secret}}" />
      <div class="form-group {{valid.cls("code")}}">
        <input
          type="text"
          id="code"
          name="code"
          class="form-control"
          placeholder="123456" />
        {{valid.summary("code")}}
      </div>
      <input type="submit" class="btn btn-default pull-right" />
    </form>
  </section>
</div>
{% endblock %}
